.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/bbsData/
README_files/
bbsDataFlorida.feather
README.tex
README.log
inst/doc
doc
Meta
docs/
vignettes/vignettes.pdf
data/readme.rtf

/raw-data/
*/raw-data/

/tests/temp-dir/
README.knit.md
README.utf8.md
raw-data/routes.csv
raw-data/routes.zip
