.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/bbsData/
README_files/
bbsDataFlorida.feather
README.tex
README.log
inst/doc
doc
Meta
docs/
vignettes/vignettes.pdf
data/readme.rtf

/raw-data/ 
*/raw-data/

/tests/temp-dir/
README.knit.md
README.utf8.md
/vignettes/function-overview_cache/

docs


## ignore all the sb item downloads when prepping the data
/data-raw/**.zip
/data-raw/**.pdf
/data-raw/**.xml
/data-raw/**.txt